<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
		<script src="js/selectxfromx.js"></script>

		<link rel="stylesheet" href="css/selectxfromx.css">
	</head>
	<body ng-app='selectxfromx' ng-controller='SearchCtrl'>
		<div id="main" class="container" ng-keydown="keydown($event)">
			<p>You are looking for <span class="label label-primary" ng-if="filter.type">{{filter.type.handle}}</span><span ng-if="!filter.type">...</span></p>
			<div ng-if="filter.conditions.length > 0">
				<p>...that match the following criteria:</p>
				<dl>
					<dt ng-repeat-start="condition in filter.conditions">{{condition.dimension}}</dt>
					<dd ng-repeat-end>{{condition.value}}</dd>
				</dl>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<input class="form-control" type="text" ng-model="query" ng-change="queryChanged()">
					<p ng-if="focusedResultKind() === 'type'" class="help-block">Hit Tab to search for this kind of entity.</p>
					<p ng-if="focusedResultKind() === 'condition'" class="help-block">Hit Tab to use the focused result as a search condition.</p>
					<p ng-if="focusedResultKind() === 'entity'" class="help-block">Hit Tab to display the focused entity's available actions.</p>
				</div>
			</div>
			<div ng-repeat="(position, result) in results" class="row">
				<div class="col-lg-12">
					<div class="result {{focusedResultPosition === position ? 'focused' : 'unfocused'}}">
						<div class="row">
							<div class="col-lg-6">{{result.handle}}</div>
							<div class="col-lg-6">{{result.description}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/util.js"></script>
		<script src="js/database.js"></script>
	</body>
</html>